$blue: #0582ff;
$button-cream: #ebf5fe;
$black-light: #1a1a19;
$button-hover: #32312f;
$hover-header: #0000000d;
$primary-color: #fff;
$hover-blue: #045ac3;
$demo-hover: #d6e1f5;
$span-degraded: #a49898;
$color-border: #dbdada;
$color-separator: #adadad82;
$color-border-image: #acacac0f;
$color-links: #087fe7;
$color-cards: #f6f4f4;
$color-subtitle: #77726e;
$color-border-top: #b7b7b77f;
$color-footer-copyright: #5f5c58;
$color-black: #000;
$color-card-started: #f6f5f4;
$hover-white: #eaeaea;
$size-vh: 1252px;
