<section class="services">
  <picture
    class="services__container"
    role="group"
    aria-label="Imagenes de servicios"
  >
    <img
      src="../../../public/images/carousel/Wiki-V2.webp"
      alt="imagen  de onboarding"
      class="services__image services__image--wiki"
    />
    <img
      src="../../../public/images/carousel/Docs-V2.webp"
      alt="imagen de documentos"
      class="services__image services__image--docs"
    />
    <img
      src="../../../public/images/carousel/Projects-V2.webp"
      alt="imagen de un projects"
      class="services__image services__image--projects"
    />
    <img
      src="../../../public/images/carousel/AI-V2.webp"
      alt="imagen de inteligencia artificial"
      class="services__image services__image--ai"
    />
    <img
      src="../../../public/images/carousel/calendar.webp"
      alt="imagen de un calendario de estudio"
      class="services__image services__image--calendar"
    />
    <img
      src="../../../public/images/carousel/sites.webp"
      alt="imagen de sitio de diseño"
      class="services__image services__image--sites"
    />
  </picture>

  <div
    class="services__container-buttons"
    role="group"
    aria-label="Botones de servicios"
  >
    @for (service of services; track service.id) {
    <button class="services__button" [id]="service.id">
      <img
        [src]="service.icon"
        [alt]="'icono de ' + service.name"
        class="service__icon"
      />
      {{ service.name }}
    </button>
    }
  </div>
</section>
