
@use '../../styles/mixins.scss' as mixins;
@use '../../styles/variables.scss' as variables;



.footer {
  @include mixins.size(70%, auto);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  border-top: 1px solid variables.$color-border-top;
  padding: 100px 200px 80px 350px;

  &__column {
    @include mixins.text-style(15px, 500, normal);
    color: variables.$black-light;

    & h4 {
      margin-bottom: 10px;
      font-weight: bold;
    }

    & menu {
      list-style: none;
      padding: 0;
      margin: 0;

      & li {
        margin-bottom: 5px;

        & a {
          text-decoration: none;
          color: variables.$color-footer-copyright;

          &:hover {
            text-decoration: underline;
            color: variables.$hover-blue;
          }
        }
      }
    }
  }

  &__logo {
    @include mixins.size(25px, auto);
    margin-bottom: 20px;
  }

  &__logo-notion {
    @include mixins.size(135px, auto);
    margin-bottom: 20px;
  }

  &__socials {
    @include mixins.flex-style(row, nowrap, 10px);
    align-items: center;
    margin-bottom: 20px;

    & a {
      @include mixins.text-style(14px, 500, normal);
      text-decoration: none;
      color: variables.$color-footer-copyright;
    }
  }

  &__language {
    @include mixins.text-style(16px, 500, normal);
    @include mixins.radius-cursor(5px, default);
    margin-bottom: 20px;
    padding: 7px 15px;
  }

  &__link {
    @include mixins.text-style(14px, 500, normal);
    display: block;
    text-decoration: none;
    color: variables.$color-footer-copyright;
    margin-bottom: 5px;
  }

  &__explore {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: variables.$color-black;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
      color: variables.$hover-blue;
    }
  }

  &__copyright {
    @include mixins.text-style(14px, 700, normal);
    color: variables.$color-black;
  }

  & p {
    @include mixins.text-style(12px, 500, normal);
    margin-top: 20px;
    color: variables.$color-footer-copyright;
  }
}
