  <footer class="footer" role="region" aria-label="Pie de pagina">
    <div class="footer__column" aria-level="3">
      <img src="../../../public/svg/notion.svg" alt="Notion Logo" class="footer__logo-notion" />
      <nav class="footer__socials" role="group" aria-label="Redes sociales">
        <a href="#"><i><img src="../../../public/images/redes-socials/Captura.PNG" alt="Instagram" class="footer__logo"></i></a>
        <a href="#"><i><img src="../../../public/images/redes-socials/x.PNG" alt="X" class="footer__logo"></i></a>
        <a href="#"><i><img src="../../../public/images/redes-socials/linkedl.PNG" alt="LinkedIn" class="footer__logo"></i></a>
        <a href="#"><i><img src="../../../public/images/redes-socials/yt.PNG" alt="Facebook" class="footer__logo"></i></a>
        <a href="#"><i><img src="../../../public/images/redes-socials/face.PNG" alt="YouTube" class="footer__logo"></i></a>
      </nav>
      <select class="footer__language" aria-label="Idioma">
        <option value="english" aria-label="Inglés">English</option>
      </select>
      <a href="#" class="footer__link">Do Not Sell or Share My Info</a>
      <a href="#" class="footer__link">Cookie settings</a>
      <p class="footer__copyright">© 2025 Notion Labs, Inc.</p>
    </div>
    <div class="footer__column">
      <h4>Company</h4>
      <menu aria-label="Menú de opciones" role="menu">
        <li><a href="#">About us</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Security</a></li>
        <li><a href="#">Status</a></li>
        <li><a href="#">Terms & privacy</a></li>
      </menu>
    </div>
    <div class="footer__column">
      <h4 aria-label="Sección de descarga">Download</h4>
      <menu aria-label="Menú de opciones" role="menu">
        <li><a href="#">iOS & Android</a></li>
        <li><a href="#">Mac & Windows</a></li>
        <li><a href="#">Calendar</a></li>
        <li><a href="#">Web Clipper</a></li>
      </menu>
    </div>
    <div class="footer__column">
      <h4>Resources</h4>
      <menu aria-label="Menú de opciones" role="menu">
        <li><a href="#">Help center</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="#">Integrations</a></li>
        <li><a href="#">Templates</a></li>
        <li><a href="#">Affiliates</a></li>
      </menu>
    </div>
    <div class="footer__column">
      <h4>Notion for</h4>
      <menu aria-label="Menú de opciones" role="menu">
        <li><a href="#">Enterprise</a></li>
        <li><a href="#">Small business</a></li>
        <li><a href="#">Personal</a></li>
      </menu>
      <a href="#" class="footer__explore">Explore more →</a>
    </div>
  </footer>
