<header class="header">
  <nav role="navigation" aria-label="menu navegacion">
    <menu class="menu" aria-level="0" tabindex="1">
      @for (option of menuItems; track option.label) {
      <li
        [class]="option.className"
        [attr.aria-haspopup]="option.hasDropdown"
        [attr.aria-expanded]="option.hasDropdown ? 'false' : null"
        tabindex="0"
      >
        @if (option.href) {
        <a [href]="option.href" [attr.aria-label]="option.label">
          <i class="menu__logo" aria-hidden="true">
            <img
              [src]="option.icon"
              [alt]="option.iconAlt"
              class="header__logo"
            />
          </i>
        </a>
        } @else {
        <span
          [attr.aria-label]="'Abrir menú de ' + option.label.toLowerCase()"
          >{{ option.label }}</span
        >
        @if (option.icon) {
        <i aria-hidden="true">
          <img [src]="option.icon" [alt]="option.iconAlt" />
        </i>
        } }
      </li>
      }

      <div class="menu__item menu__item--separator">
        <menu class="sub-menu" aria-label="Menú de opciones">
          @for (option of menuSeparator; track option.label; let secundary =
          $index) {
          <li
            class="menu__item menu__separator"
            [attr.aria-label]=""
            tabindex="0"
          >
            {{ option.label }}
          </li>
          @if (secundary == 0) {
          <li></li>
          } }
        </menu>
      </div>
    </menu>
  </nav>
  <!-- aquiii-->
  <app-banner></app-banner>

  <!-- <app-sub-menu [menuItems]="menuDrow"></app-sub-menu> -->
  <div class="dropdown">
    <li class="dropdown__item">Product</li>
    <li class="dropdown__item">Engineering</li>
    <li class="dropdown__item">Design</li>
    <li class="dropdown__item">Marketing</li>
    <li class="dropdown__item">IT</li>
    <li class="dropdown__item">Startups</li>
    <li class="dropdown__item">Enterprise</li>
    <li class="dropdown__item">Customer stories</li>
  </div>
</header>
