<section class="header__information" role="banner">
  <div class="information">
    <h1 class="information__title">The happier workspace</h1>
    <h2 class="information__subtitle">
      Write. Plan. Collaborate. With a little help from AI.
    </h2>
    <div
      class="information__buttons-container"
      role="group"
      aria-label="Botones de información"
    >
      <button
        class="information__button information__button--get"
        aria-label="Obtener Notion gratis"
      >
        Get Notion free
      </button>
      <button
        class="information__button information__button--demo"
        aria-label="Solicitar una demostración"
      >
        Request a demo
      </button>
    </div>
    <span class="information__teams">Trusted by teams at</span>
    <div class="information__logos" role="group" aria-label="Logos de equipos">
      @for(imagen of iconsHeader; track $index){
      <img
        [src]="iconsHeader[$index].src"
        [alt]="iconsHeader[$index].alt"
        [class]="iconsHeader[$index].class"
      />
      }
    </div>
  </div>

  <div class="video-principal">
    <video class="video-principal__video" autoplay muted loop>
      <source src="../../../public/videos/hero-banner.mp4" type="video/mp4" />
    </video>
  </div>
</section>
