@use '../../styles/mixins.scss' as mixins;
@use '../../styles/variables.scss' as variables;
@use '../../styles/herencia.scss';


.tools {
  $block: &;
  margin-top: 60px;
  @include mixins.flex-style(row, wrap);
  width: variables.$size-vh;
  margin: 50px auto;

  &--inicial {
    margin-top: 60rem;
  }

  &--ultimo {
    margin-top: 35rem;
  }

  &__general {
    @include mixins.size(50%, auto);

    &-title {
      @include mixins.text-style(61px, 700, normal, 65px, -.02em);
      @include mixins.size(80%, auto);
      color: variables.$black-light;
    }

    &-subtitle {
      @include mixins.text-style(18px, 500, normal, 24px, -.02em);
      @include mixins.size(85%, auto);
      color: variables.$color-subtitle;
      display: block;
      padding: 10px 0;
    }

    &-link {
      @include mixins.text-style(18px, 500, normal, 24px, -.02em);
      display: block;
      color: variables.$color-links;
      text-decoration: none;
    }
  }

  &__interactive {
    @include mixins.size(50%, auto);
    display: flex;
    align-items: flex-end;

    &-card {
      @include mixins.flex-style(column, nowrap, 3px);
    }

    &-title {
      @include mixins.text-style(16px, 700, normal, 23px, -.02em);
      color: variables.$black-light;
      margin-top: 10px;
    }

    &-description {
      @include mixins.text-style(16px, 500, normal, 23px, -.02em);
      color: variables.$color-subtitle;
    }

    &-video {
      @include mixins.size(37%, auto);
    }
  }

  &__multimedia {
    margin-top: 30px;

    video {
      @include mixins.size(100%, auto);
      border-radius: 10px;
    }
  }

  &__competitors {
    @include mixins.text-style(16px, 500, normal, 23px);
    @include mixins.flex-style(row, nowrap, 10px);
    align-items: center;
    justify-content: center;
    color: variables.$color-subtitle;
    margin-top: 20px;
    margin-bottom: 23px;

    &-title {
      color: variables.$black-light;
    }

    &-item {
      @include mixins.flex-style(row, nowrap, 10px);
      align-items: center;
    }

    &-logo {
      @include mixins.size(30px, 30px);
      object-fit: contain;
    }
  }

  &-brain {
    margin: 200px auto;
  }
}
