<section class="started" role="region" aria-label="Inicio de exploracion de la herramienta">
      <h5 class="started__title" aria-label="Inicio de exploracion de la herramienta">Get started</h5>

      <div class="started__cards">
        <h6 class="started-cards__title">Notion</h6>
        <div class="started__buttons" role="group" aria-label="Botones de inicio de exploracion">
          <button class="startted__button startted__button--free" aria-label="Iniciar exploracion de la herramienta">Try
            it free</button>
          <button class="startted__button startted__button--now" aria-label="Iniciar descarga de la herramienta">Dowload
            now</button>
        </div>
        <img src="../../../public/images/notion-app.webp" alt="logo de notion" aria-label="Logo de Notion">
      </div>

      <div class="started__cards" role="group" aria-label="Inicio de exploracion de la herramienta">
        <h6 class="started-cards__title">Notion Calendar</h6>
        <div class="started__buttons" role="group" aria-label="Botones de inicio de exploracion">
          <button class="startted__button startted__button--free">Try it free</button>
          <button class="startted__button startted__button--now">Dowload now</button>
        </div>
        <img src="../../../public/images/notion-calendar.webp" alt="calendario de notion">
      </div>
    </section>
